<!-- Background -->
<div class="background"><h1> Random Quote Machine </h1> 
  
  <!-- Quote Box -->
  <div class="quote-box"<h1> Generated Quote: </h1>
    <div id="quote">
       <h4><span id="get-quote">Fortune befriends the bold.</span></h4>
    </div>  
    <div id="author">- <span id="get-author">Emily Dickenson</span></div>
    <!-- Twitter Link -->
    
    <a href="https://www.twitter.com" target="_blank" class="btn btn-default"><i class="fa fa-twitter "> Twitter</i>
      
      <!-- Facebook Link -->
      
      <a href="https://www.facebook.com" target="_blank" class="btn btn-default">
<i class="fa fa-facebook-official"> Facebook</i>
        
     <!-- More Quotes Link -->
        
        <a class="btn btn-default" id="request"><i class="fa fa-refresh">
        New Quote </i> </div>
        </div>
          </div> 
      
</div>
  